<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registration</title>
    </head>
    <body>
        <h1>Registration</h1>
        <form action="/register" method="post">
            <input type="text" name="first_name" value="" placeholder="First name">
            <input type="text" name="last_name" value="" placeholder="Last name">
            <input type="text" name="email" value="" placeholder="email">
            <input type="text" name="pw" value="" placeholder="password">
            <input type="text" name="pw_confirmation" value="" placeholder="password">
        </form>
    </body>
</html>
